//Background color
$primary-background-color: #151515

$primary-color: #B3A3FF
$secondary-color: #CFCFCF

$primary-color-hover: #CCC2FF

$white-color: #FFFFFF

$green-color: #7cd389
$green-color-hover: #a3ffb1  
   
